@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins,sans-serif;}

body{background:#0d1b2a;color:white;}

/* ================= HERO SECTION ================= */
.hero{
    display:flex;align-items:center;justify-content:center;
    gap:60px;padding:80px 60px;background:#112d4e;
}

.hero-img img{
    width:300px;height:450px;border-radius:20px;
    object-fit:cover;border:4px solid cyan;
}

.hero-text h1{font-size:40px;font-weight:700;}
.hero-text h1 span{color:#00e7ff;}
.hero-text p{margin:8px 0 18px;font-size:18px;}
.btn{
    background:cyan;padding:12px 20px;border-radius:8px;
    color:black;font-weight:600;text-decoration:none;
}
.btn:hover{background:#00c4d8;}

/* ================= NAV ================= */
nav{text-align:center;padding:15px;background:#001c30;}
nav a{
    margin:0 12px;color:#00e7ff;font-weight:500;text-decoration:none;
}
nav a:hover{color:white;}

/* ================= SECTIONS ================= */
.section{padding:70px 60px;text-align:center;}
h2{color:#00e7ff;margin-bottom:15px;font-size:30px;}

.skills span{
    padding:10px 16px;border:1px solid cyan;border-radius:25px;
    margin:5px;display:inline-block;
}

/* ================= PROJECTS ================= */
.projects-container{
    display:grid;gap:25px;margin-top:35px;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
}

.project-card{
    background:#122641;padding:15px;border-radius:10px;
    transition:.4s;cursor:pointer;overflow:hidden;
}
.project-card img{
    width:100%;height:180px;border-radius:10px;
    object-fit:cover;transition:.4s;
}
.project-card:hover{
    transform:scale(1.05);box-shadow:0 0 20px cyan;
}
.project-card:hover img{
    opacity:0.8;transform:scale(1.08);
}

.project-card a {
    color: rgb(17, 252, 64);
}


/* ================= CONTACT ================= */
form{width:50%;margin:auto;display:flex;flex-direction:column;gap:12px;}
form input,form textarea{padding:13px;border:none;border-radius:6px;}
button{padding:12px;background:cyan;color:black;border:none;border-radius:6px;font-size:16px;}
button:hover{background:#00c4d8;}

.contact-links a{margin:10px;color:cyan;text-decoration:none;font-size:18px;}

/* ================= SCROLL ANIMATION ================= */
.fade{opacity:0;transform:translateY(20px);transition:1s;}
.fade.show{opacity:1;transform:translateY(0);}

footer{text-align:center;padding:15px;background:#001c30;margin-top:30px;}
